/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}





body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    border-top: 5px solid blue;
}

.contact-info img {
    display: block;
    margin: auto;
}

.main-nav ul {
    list-style: none;
    background-color: red;
    text-align: center;
    padding: 0;
    margin: 0;
}

.main-nav li {
    display: inline;
    padding: 0;
    margin: 0;
}

.main-nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0;
}

/* Add more styles as needed */
.slide {
    height: 400px;
    background-size: cover;
    background-position: center;
}

#services {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}




footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

header {
    background-color: white;
    border-top: 5px solid blue;
    padding: 10px 0px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.contact-info button {
    width: 250px;
    height: 50px;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    background-color: #ffffffd8; /* Colore di sfondo del bottone */
    border: none;
    border-radius: 15px; /* Bordi arrotondati */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transizione animata del colore di sfondo */
}

.contact-info a {
    font-size: 16px;
    color: #0056b3;
    text-decoration: none;
}

.contact-info button:hover {
    background-color: #0056b3; /* Cambio colore di sfondo al passaggio del mouse */
    color: white;
}

.contact-info a:hover {
    color: white;
}

.contact-info a:first-child button::before {
    content: "\1F4DE"; /* Aggiungi un'icona per il telefono */
    margin-right: 5px;
}

.contact-info a:last-child button::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background: url('whatsappmessage_conversation_whatsap_7149.png') center/cover; /* Sostituisci con il percorso locale dell'immagine di WhatsApp */
    width: 24px; /* Imposta la larghezza desiderata dell'icona */
    height: 24px; /* Imposta l'altezza desiderata dell'icona */
}


#services {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.buttons-container {
    margin-bottom: 20px;
}

    .buttons-container button {
        background-color: #0056b3;
        color: white;
        padding: 10px 20px;
        margin: 0 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .buttons-container button.active {
            background-color: red;
        }

.content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.content {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

    .content h3 {
        color: #0056b3;
    }

    .content p {
        color: #333;
    }


/* Stile per il titolo "Contattaci" */
#contact-form {
    margin: 20px auto;
    max-width: 500px;
    text-align: left; /* Modifica la posizione del testo a sinistra */
}

    #contact-form h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
        text-align: center; /* Centra il titolo */
    }

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-stile {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#privacy {
    display: inline-block;
    vertical-align: middle; /* Allinea il checkbox verticalmente */
    margin-right: 5px;
}

#contact-form label[for="privacy"] {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle; /* Allinea il testo della privacy policy verticalmente */
}

#submit-btn {
    margin-top: 20px;
    width: 100%; /* Rendi il pulsante largo quanto la form */
    background-color: #0d49a6;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Assicura che il padding e il bordo non influenzino la larghezza */
}

    #submit-btn:hover {
        background-color: #555;
    }

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}
.containerMessaggio {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    .containerMessaggio h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .containerMessaggio h4 {
        text-align: center;
        color: #008000;
    }

.tick-img {
    width: 100px;
    margin-bottom: 20px;
}


#H1FROMCONTATTCI {
    text-align: center; /* Centra il contenuto del div */
}

    #H1FROMCONTATTCI h1 {
        font-family: Arial, sans-serif; /* Sostituisci con il font desiderato */
        font-size: 36px; /* Aumenta la dimensione del font */
    }